@import '../../styles/variables.scss';

.stockAlert {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        font-size: large;
    }

    .tableGrid {
        display: grid;
        grid-template-columns: repeat(4, minmax(60px, 120px));
        grid-gap: 5px;
        width: 50%;

        header {
            text-align: center;
        }

        input {
            background-color: rgb(213, 223, 255);
            padding: 5px;
            width: 100%;
        }

        input.changed {
            background-color: rgb(248, 217, 182);
        }

        .rowAction {
            padding: 0px 15px;
        }
    }

    .commandBar {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}