@import '../../styles/variables.scss';

.textEditor {

    display: flex;    
    flex-direction: column;
    gap: 10px;
    
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .editorDiv {
            display: flex;
            flex-direction: column;
            width: 100%;

            textarea { 
                width: 100%;
                height: 155px;
                padding: 5px;
                border: none;
                outline: none;
                background-color: transparent;
                color: $soft-color
            }
        }
        
        .viewerDiv{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
    
    
            table {
                border: 1px solid $soft-bg;
                border-collapse: collapse;
    
                th, td {
                    border: 1px solid $soft-bg;
                    padding: 5px 10px;
                    color: $soft-color
                }
            }
    
            ul {
                padding: 0px 20px;
            }
        }
    }
}