@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.box {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $soft-bg;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: $box-height;

    .boxHeader {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .title {
            font-size: larger;
        }

        .commands {
            display: flex;
            gap: 10px;
            img {
                width: 18px;
                cursor: pointer;
            }
        }
    }
}