.webCollection {
    display: flex;
    gap:20px;

    .filterPanel {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;

        .queryInput {
            padding: 5px;
            outline: none;
            border: none;
            border-radius: 5px;
        }

        .tagOption {
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                gap: 10px;
            }
        }
    }

    .listView {
        flex: 10;
    }
}